/*
*  ABOUT - about.html
*/

#about-content
{
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.about-text-wrapper
{
  display: flex;
  width: 75%;
}

.col-left
{
  width: 40%;
  /* background: url('../images/art-gallery/previews/allium.png') bottom;
  background-position: 90%; */
}

.col-left > img
{
  width: 100%;
}

#about-text > h2
{
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

#about-text,
#about-awards
{
  display: flex;
  flex-direction: column;
}

#about-text
{
  width: 100%;
  margin: 0 50px;
}

#about-text > p
{
  font-size: 1.1rem;
  line-height: 1.8;
}

#about-awards
{
  /* width: 50%; */
  width: 25%;
  margin-top: 0;
}

.awards-wrapper
{
  display: flex;
  flex-direction: column;
}

figure.palm-prize,
figure.wigandia-prize
{
  margin: 0 0 10px;
  padding: 0;
}

figcaption
{
  padding: 8px 0;
  font: 0.8rem/1.2 'Palanquin', sans-serif;
}

figcaption .caption-title
{
  display: block;
  font-family: 'Times New Roman', Times, serif;
}

figure.palm-prize > img
{
  width: 100%;
}

figure.wigandia-prize > img
{
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.derwent-img
{
  width: 30%;
  height: auto;
}

@media only screen and (max-width: 1024px) {
  .col-left {
    display: none;
  }
  
  #about-content {
    flex-direction: column;
  }

  .about-text-wrapper {
    width: 100%;
  }

  #about-awards {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
    padding-left: 50px;
  }

  .awards-wrapper {
    flex-direction: row;
  }

  figure.palm-prize,
  figure.wigandia-prize {
    width: 50%;
    padding-right: 10px;
  }

  figure.palm-prize > img,
  figure.wigandia-prize > img {
    width: 100%;
    height: 180px;
  }

  .derwent-img {
    width: auto;
    height: 50px;
  }
}

@media only screen and (max-width: 800px) {
  #about-awards {
    flex-direction: column;
    width: calc(100% - 100px);
  }
  .derwent-img {
    width: 150px;
    height: auto;
  }
}

@media only screen and (max-width: 500px) {
  #about-text {
    margin: 0;
  }
  #about-awards {
    padding-left: 0;
    width: 100%;
  }
}
