/*
*  CARDS - cards.html
*/

.card-gallery-section
{
  margin-bottom: 40px;
  width: 100%;
  /* font-size: 1.25rem; */
}

.heading-cards
{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 1.25rem;

}

.heading-cards > h2
{
  padding-right: 10px;
}

.heading-cards > p
{
  margin-bottom: 4px;
}

@media only screen and (max-width: 1023px) {
  .heading-cards
  {
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .heading-cards
  {
    flex-direction: column;
    align-items: center;
  }
  .heading-cards > h2
  {
    padding-right: 0;
  }
}

.card-gallery /* grid control (to Major Tom) */
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.card-gallery > div /* grid child */
{
  /* position: relative; */
  /* max-width: 100%; */
  overflow: hidden;
  /* margin: 0; */
  box-shadow:  2px 2px 8px -4px rgba(94,93,93,0.87);
  /* padding: 20px; */
}

.card-img
{
  display: flex;
  justify-content: center;
}

.card-img > img
{
  width: auto;
  height: 350px;
  object-fit: cover;
  padding-top: 10px;
}

.card-gallery > div > h3
{
  text-align: center;
}
