/*
*  CUSHIONS - cushions.html
*/

.cushion-wrapper
{
  display: flex;
  box-shadow:  2px 2px 8px -4px rgba(94,93,93,0.87);
  border-radius: 3px;
  margin-bottom: 20px;
}

.cushion-imgs-wrapper
{
  display: flex;
  justify-content: flex-start;
  width: 60%;
}

.cushion-img
{
  width: 80%;
  padding: 10px;
}

.cushion-img > img
{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.cushion-thumb-wrapper
{
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 10px;
}

.cushion-thumb
{
  
}

.cushion-thumb > img
{
  width: 100%;
  margin-bottom: 4px;
}

.cushion-thumb > p
{
  line-height: 1rem;
}

.cushion-details-wrapper
{
  display: flex;
  flex-direction: column;
  width: 40%;
  /* margin: 30px auto; */
  padding: 20px;
  border-left: 1px dotted grey;
  /* border-radius: 5px; */
  margin: 10px 0 10px 10px;
}

.cushion-details > h2
{
  letter-spacing: .01em;
  margin: 0;
  font: 100 1.8rem "Times New Roman", Times, serif;
  padding: 0;
  text-transform: uppercase;

}

.cushion-details > ul
{
  letter-spacing: .01em;
  font: 1rem 'Palanquin', sans-serif;
  padding: 0 0 10px;
  list-style-type: none;
}

.cushion-details > ul > li
{
  padding-top: 0px;
  line-height: 1.5rem;

}

.cushion-options
{
  font: 1rem 'Palanquin', sans-serif;
  /* background-color: antiquewhite; */
  width: 90%;
  display: grid;
  grid-template-columns: 40% 40%;
  gap: 10px;

}

.cushion-options > p
{
  padding: 6px 6px;
  margin: 0;
  border: 1px solid #ac57ae;
  border-radius: 5px;
  line-height: 1.2rem;
}

p.label
{
  background-color: #ac57ae;
  color: white;
}

@media only screen and (max-width: 1300px) {
  .cushion-options {
    width: 100%;
    grid-template-columns: 50% 50%;
  }
}
@media only screen and (max-width: 1000px) {
  .cushion-wrapper {
    flex-direction: column;
  }
  .cushion-imgs-wrapper {
    width: 80%;
  }
  .cushion-details-wrapper {
    flex-direction: row;
    width: 90%;
  }
  .cushion-details {
    width: 50%;
    padding-right: 10px;
  }
  .cushion-options {
    width: 50%;
  }
}
@media only screen and (max-width: 970px) {
  .cushion-options {
    /* width: 100%; */
    grid-template-columns: 50% 50%;
  }
}
@media only screen and (max-width: 767px) {
  .cushion-details-wrapper {
    flex-direction: column;
    width: 90%;
  }
  .cushion-details {
    width: 100%;
  }
  .cushion-options {
    width: 80%;
  }
}
@media only screen and (max-width: 500px) {
  .cushion-wrapper {
    margin-bottom: 30px;
  }
  .cushion-details-wrapper {
    border-left: 0;
    padding-left: 0;
    padding-top: 0;
    text-align: center;
  }
  .cushion-options {
    width: 100%;
  }
  .cushion-imgs-wrapper {
    flex-direction: column;
    width: calc(100% - 20px);
  }
  .cushion-img {
    width: 100%;
  }
  .cushion-thumb-wrapper {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .cushion-thumb {
    width: 30%;
    padding-right: 15px;
  }
}
