#home-content
{
  background-color: #fff;

}

#row1, #row2, #row3
{
  display: flex;
  width: 100%;
}

#row1
{
  margin-bottom: 40px;
}

#row2
{
  margin-bottom: 40px;

}

#row3
{
  /* margin-bottom: 40px; */
  background-image: 
  /* linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, .9)
  ), */
  url('../images/art-gallery/previews/fan-palm-preview.jpeg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#about-home
{
  /* flex-grow: 1; */
  width: 30%;
  background-image: url('../images/art-gallery/previews/nigella-flower-preview.jpeg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 90%;
}

#about-home > p
{
  margin: 0;
  font-size: 1.2rem;
}

p.opening-para
{
  font-family: 'Mate', serif;
  font-family: 'Times new roman', times, serif;
  line-height: 1.8em;
  /* font-weight: bold; */
  /* font-size: 1.5rem; */
}

#artwork-home
{
  box-shadow:  2px 2px 8px -4px rgba(94,93,93,0.87);
  margin-left: 50px;
  margin-right: 5px;
  width: 70%;
  /* flex-grow: 3; */
  /* overflow: hidden;
  position: relative; */
}

#artwork-home > h3
{
  border-bottom: 1px solid ;
  margin: 0;
  padding: 5px;
  font-size: 1.2rem;
  color: var(--grey-dark);
}

#artwork-home > img
{
  width: 100%;
  height: auto;
}

#artwork-home > p
{
  margin: 0;
  padding: 5px;
}

.product
{
  /* flex-grow: 1; */
  width: 50%;
  box-shadow:  2px 2px 8px -4px rgba(94,93,93,0.87);
  margin: 0 5px;
  font-size: 1.2rem;
  color: var(--grey-dark);

}

.product > h3
{
  border-bottom: 1px solid ;
  margin: 0;
  padding: 5px;
  font-size: 1.2rem;
}

.product > img
{
  /* width: 100%;
  height: auto; */
  width: 100%;
  /* height: 376px; */
  height: 300px;
  object-fit: cover;
}

#contact
{
  /* flex-grow: 1; */
  width: 50%;
  margin: 0 5px;

}

