header.header-home,
.intro-text,
.artwork-feature,
.product-range
{
width: 1000px;
}

header.header-home
{
  /* width: 1000px; */

  margin: 0 auto;

  /* position: relative; */
  /* width: 100%; */
  padding-top: 40px;
  padding-bottom: 30px;
  background: url('../images/art-gallery/previews/viburnum-opulus.jpeg') no-repeat ;
  background-position: right -20px top -130px;
  background-size: 40%;
  box-shadow: 0px 23px 5px -25px rgba(0,0,0,0.87);
  /* text-align: center; */
  text-align: center;

}

header.header-home > h2
{
  padding-bottom: 10px;

}

.intro-text
{
  /* width: 800px; */
  margin: 0 auto;
  padding: 30px 0;
  /* text-align: left; */
    box-shadow: 0px 23px 5px -25px rgba(0,0,0,0.87);
  background: url('../images/art-gallery/previews/clematis-edda.jpeg') no-repeat;
  background-position: left -50px top -130px;
  background-size: 30%;
}

.intro-text > p
{
  padding-left: 170px;
  padding-right: 100px;
}

p.opening-para
{
  font-family: 'Libre Baskerville', serif;
  line-height: 1.5em;
  font-size: 1.3rem;
}

.highlight
{
  font-weight: 800; 
  color: darkolivegreen;
}

.about-home-copy
{
  font-size: 1.1rem;
}

.artwork-feature
{
  /* width: 800px; */
  margin: 0 auto;
  padding-bottom: 40px;
  box-shadow: 0px 23px 5px -25px rgba(0,0,0,0.87);

}

.artwork-feature > div
{
  box-shadow:  2px 2px 8px -4px rgba(94,93,93,0.87);
}

.artwork-feature > div > img
{
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.artwork-feature > h3,
.product-range > h3
{
  font-size: 1.5rem;
  margin: 30px 0;
  color: #ac57ae;
}

.product-range
{
  /* width: 800px; */
  margin: 0 auto;
}
.product-range > div
{
  display: flex;
  justify-content: space-between;
}

.product
{
  width: 30%;
  margin: 0 0 20px 0px;
  box-shadow:  2px 2px 8px -4px rgba(94,93,93,0.87);
  border-radius: 10px;
}

.product > h3
{
  margin: 0;
  padding: 8px;
  font-size: 1.2rem;
  border-bottom: 1px solid ;
}

.product > img
{
  width: 100%;
  height: 230px;
  object-fit: cover;
}
