/* GENERIC STYLES */

/* HEADER */

header 
{
  position: relative;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 10px;
  background: url('../images/art-gallery/previews/viburnum-opulus.jpeg') no-repeat;
  background-position: left 50px top -50px;
  background-size: 20%;
  /* background-size: 320px; */
  box-shadow: 0px 23px 5px -25px rgba(0,0,0,0.87);
  text-align: center;
}

.
page
{
  padding-top: 20px;
}

header > h2
{
  padding-bottom: 30px;
}

h1, h2 
{
  letter-spacing: .01em;
  margin: 0;
}

h1 
{
  margin: 0;
  padding-bottom: 10px;
  font: 700 3rem 'Libre Baskerville', serif;
}

h2 
{
  font: 2.5rem 'Mate', serif;
}

h3 
{
  font: 400 .88rem "Times New Roman", Times, serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .06em;
  color: var(--grey1);
}

.page-header
{
  display: flex;
  /* width: 100%; */
  justify-content: center;
  margin: 0 0 25px;
}

.page-header > div
{
  width: 200px;
  margin: 0;
  border-top: 1px dotted grey;
  border-bottom: 1px dotted grey;
  display: flex;
  justify-content: center;
}
.page-header > div > h3
{
  margin: auto;
  font-size: 2rem;
  text-align: left;
  color: var(--purple);
}

.page-header > ul
{
  /* margin-left: 200px; */
  /* width: 100%; */
  padding-left: 50px;
  margin: 0;
  font-size: 1.1rem;
}

.page-header > ul > li
{
  padding: 2px;
}

.heading-tram
{
  display: inline;
  margin: auto;
  /* margin-bottom: 15px; */
  padding: 5px 10px;
  font-size: 2rem;
  text-align: left;
  color: var(--purple);
  border-top: 1px dotted grey;
  border-bottom: 1px dotted grey;
}

@media only screen and (max-width: 650px) 
{
  h1, h2 { font-size: 2rem; }
}

@media only screen and (max-width: 440px) 
{
  h1, h2 { font-size: 1.5rem; }
}

p
{
  margin: 0 0 10px;
  font-family: 'Palanquin', sans-serif;
  line-height: 1.8rem;
}

/* NAVIGATION */

nav
{
  width: 100%;
  margin: 0 auto;
  /* padding-bottom: 10px; */
  /* box-shadow: 0px -23px 5px -25px rgba(0,0,0,0.87); */

}

#main-menu 
{
  list-style: none;
  padding-left: 0;
  margin: 0;
  /* text-align: center; */
  font-size: 1.25rem;
  /* display: inline-block; */

  display: flex;
  justify-content: center;
}

#main-menu li 
{
  display: inline;
  margin: 5px;
  /* padding: 10px 10px 5px; */
  color: var(--grey-dark);
  /* background-color: rgb(255, 255, 255, 0.65); */
  /* border-radius: 8px; */  
}

#main-menu li:hover 
{
  /* border-bottom: 3px var(--green6) solid; */
}

#main-menu a
{
  width: 100%;
  padding: 5px 10px;
  border-radius: 2px;
  background-color: rgb(255, 255, 255, 0.65);
  text-decoration: none;
}

#main-menu a,
#main-menu a:visited 
{
  color: var(--purple);
}

#main-menu a:hover 
{
  color: var(--purple);
  box-shadow: .5px .5px 3px 1px rgba(204, 204, 204,1);
}

.menu-this
{
  width: 100%;
  padding: 5px 10px;
  border-radius: 2px;
  background-color: rgb(255, 255, 255, 0.65);
  color: var(--purple);
  box-shadow: .5px .5px 3px 1px rgba(204, 204, 204,1);
  cursor: default;
}

.nav-cursor
{
  cursor: default;
}

div#menu-btn 
{
  display: none;
}

/* ---------------------------------------------------------------*/
/* PAGE navigation */

/* .page-navigation
{
  list-style-type: none;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  padding-left: 0;
  color: var(--green-dk);
  font-size: 1.1rem;
}

.page-navigation > li
{
  display: inline;

}

.page-navigation > li:first-child
{
  margin-right: 40px;

} */

/* ---------------------------------------------------------------*/


/* FOOTER */

footer 
{
  margin-top: 40px;
  padding: 30px 0;
  /* font-family: var(--font3);
  font-size: 1.25rem;
  color: var(--grey-dark);
  text-align: center; */
  box-shadow: 0px -23px 5px -25px rgba(0,0,0,0.87);
}

div.footer
{
  /* font-family: var(--font3); */
  font-size: 1.25rem;
  /* color: var(--grey-dark); */
  text-align: center;
}

div.footer > p
{
  margin-top: 20px;
  padding: 0 20px;
  font-family: var(--font3);
  /* font-size: 1.25rem; */
  color: var(--grey-dark);
  /* text-align: center; */
}

/* SITE-WIDE STYLES */

a.link
{
  text-decoration: none;
  border-bottom: 1px dashed var(--purple);
  color: var(--green-dk);
  transition: all 0.1s linear;
}

a.link:hover
{
  border-bottom: 1px dashed white;
  text-decoration: none;
  color: var(--purple);
}

/* a.link:visited
{
  text-decoration: none;
  color: var(--link-green);
} */

.additional-info
{
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #b5c9b6;
  border-radius: 3px;

}
.additional-info p
{
  padding: 0;
  margin: 0;  
  color: darkolivegreen;
  font-size: 1.1rem;
  line-height: 1.4em;
}

#content
{
  margin: 30px auto 0 auto;
  width: 85%;
  z-index: -1;
}

@media only screen and (min-width: 1570px) {
  #content
  {
    /* margin: 40px auto 0 auto; */
    width: 75%;
    /* z-index: -1; */
  }
}

/* ---------------------------------------------------------------*/
/* GALLERY - settings for gallery viewer */

.noscroll 
{
  overflow: hidden;
}

.scroll 
{
  overflow: auto;
}


/* @media
   HEADER & MENU SECTION */

  @media only screen and (min-width: 769px) {
    #main-menu {
      display: flex;
    }
  }

@media only screen and (max-width: 900px) {
  #main-menu {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  #main-menu {
    flex-direction: column;
    /* display: none; */
    height: 0;
    overflow: hidden;
    transition: height 500ms ease-in-out 0ms;
  }
  div#menu-btn {
    display: block;
  }
}

@media only screen and (max-width: 780px) {

  #main-menu li 
  {
    padding: 5px 5px 3px;
  }

  #main-menu a,
  #main-menu a:visited, 
  #main-menu a:hover
  {
    font-size: 1rem;
  }
}

/* @media
   FOOTER SECTION */

@media only screen and (max-width: 670px) {
  footer {  
    font-size: 1rem;
  }
}