@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Libre+Baskerville:wght@400;700&family=Palanquin:wght@100&display=swap');

:root {
  --green1: #effad2;
  --green2: #f4fae3;
  --green3: #f7faed;
  --green4: #f4f5f0;
  --green5: #f4f5f0;
  --grey-dark: #404040;
  --grey-light: #999;
  --link-green: #6B8E23;
}

/* ELEMENT LEVEL STYLES */

html, body 
{
  font-size: 16px;
  font-family: "Times New Roman",Times,serif;
  margin: 0;
  padding: 0;
}

header 
{
  position: relative;
  text-align: center;
  /* margin: 20px 0; */
  /* background: no-repeat url(../images/late-autumn-grapevine-preview.jpeg) right; */
  /* box-shadow:  2px 2px 8px -4px rgba(94,93,93,0.87); */

}

/* hide for now... */
header:before  /* adds an overlay to background-image */
{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
}

/* hide for now... */
header *  /* needed to add elements on top of overlay */
{
  position: relative;
}

h1, h2 
{
  letter-spacing: .01em;
  /* opacity: 150%; */
  background-color: rgba(F,F,F,.5);
}

h1 
{
  font-size: 3.5rem;
  margin: 0;
  padding: 50px 0 10px;
  font-family: 'Libre Baskerville';
  font-weight: 700;
}
h2 
{
  font-size: 2.5rem;
  font-family: 'Palanquin', sans-serif;
  margin: 0;
}

/* GALLERY OVERLAY */
#app
{
  position: relative;
  height: 100%;
}

.page 
{
  width: 100%;
  height: 100%;            
  position: absolute;
  top: 0;
  left: 0;

}

#content /* formerly app */
{
  margin: 0 auto;
  /* width: 1200px; */
  width: 75%;
}

.gallery-overlay 
{
  opacity: 0.8;

  /* height: 100%; */
  /* position: sticky; */
  /* top: 0;
  left: 0;
  width: 100%;
  height: 100%;*/
  display: none; 
  background-color: #000;
  z-index: 9;
    /* opacity: 0.2; */

}
 .gallery-overlay img{
  /* opacity: 1; */
  padding: 100px;
 }
.gallery-overlay p
{
  color: white;
  background-color: #0f0;
}


/* NAVIGATION */

#main-menu 
{
  list-style: none;
  padding-left: 0;
  margin: 50px 0;
  text-align: center;
}

#main-menu li 
{
  display: inline;
  margin: 15px;
  color: var(--grey-dark);
}

#main-menu li,
#main-menu a 
{
  padding-bottom: 5px;
}

#main-menu a,
#main-menu a:visited, 
#main-menu a:hover 
{
  text-decoration: none;
}

#main-menu a,
#main-menu a:visited 
{
  color: var(--grey-light);
}

#main-menu a:hover 
{
  color: var(--grey-dark);
}

.nav-underline, 
#main-menu a:hover 
{
  border-bottom: 5px var(--green1) solid;
}

/* GALLERY */

#gallery 
{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.gallery-card 
{
  /* max-width: 376px;
  height: 376px; */
  /* width: 32%;  */
  border: 0px solid #cccccc;
  box-shadow:  2px 2px 8px -4px rgba(94,93,93,0.87);;
  /* border-radius: 10px; */
  margin: 5px;
  /* width: 376px;
  height: 376px; */
  flex-grow: 1;
  flex-basis: 376px;
  /* background-color: var(--green5); this provides the bg colour for the blank area at bottom of 'drop-down' div */
}

.img-preview 
{
  /* width: 376px;
  height: 376px; */
  width: 100%;
  height: 376px;
  object-fit: cover;
  /* top: 0px;
  position: relative;  */
  /* border-radius: 10px 10px 0 0; */

}

.gallery-card-heading
{
  /* position: relative;
  height: 50px; */
  /* display: inline; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
}


.gallery-card-heading > button
{
  border: 0;
  background-color: #fff;
  color: var(--link-green);
  display: flex;
  /* align-items: center; */
  padding-right: 20px;
  font-family: 'Palanquin', sans-serif;
}

.gallery-card-heading > button:hover
{
  cursor: pointer;
}

.gallery-card-heading > h3 
{
  /* display: inline; */
  /* float: left; */
  font-weight: 400;
  line-height: 1.6em;
  font-size: .88rem;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: .06em;
  color: var(--grey1);
  /* padding-left: 0px; */
}

.gallery-card-heading > h3,
ul.gallery-card-details li
{
  padding-left: 20px;
}

ul.gallery-card-details {
  list-style: none;
  padding-left: 0;
  margin: 0;
  /* float: left; */
  /* background-color: var(--green5); */
  /* height: 100%; */
}

ul.gallery-card-details li {
  line-height: 1.3em;
  font-size: .9em;
  margin: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 20px;
  border-top: 1px dotted #ccc;
}

li:last-child {
  /* border-radius: 0 0 10px 10px; */
}

li.desc {
  background-color: var(--green1);
}
li.medium {
  background-color: var(--green2);
}
li.size {
  background-color: var(--green3);
}
li.original {
  background-color: var(--green4);
}
li.print {
  background-color: var(--green5);
}

#vitis-box,
#palm-box
{
  visibility: hidden;
 /* height: 0px;  */
   /* overflow: hidden;
  transition: height 500ms linear 0ms;  */
}


/* FOOTER */

footer 
{
  margin: 40px 0;
  text-align: center;
}
