/* Cards & cushions styles [cf] */

.section
{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
}

.section-entry
{
  display: flex;
  margin-top: 30px;
}

.section-entry > img
{
  width: 40%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.cf-txt
{
  margin-left: 40px;
  font-size: 1.2rem;
  text-align: left;
}

.cf-txt-right
{
  margin-right: 40px;
  font-size: 1.2rem;
  text-align: left;
}

.cf-img-right
{
  flex-direction: row-reverse;
}